.aurora .banner-promo {
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--color-accent);
  padding: var(--layout-xxs);

  &.banner-promo__bf {
    background-color: var(--color-content);
  }

  & .banner-promo__text {
    padding: var(--font-detail-2-padding);
    letter-spacing: var(--font-detail-2-letter-spacing);
    font: var(--font-detail-2);

    &.banner-promo__bf {
      color: var(--color-base);
    }
  }
}
