<div class="cookies-modal layerM marginRightLayoutXXS marginLeftLayoutXXS marginBottomLayoutXXS positionFixed hidden-component" id="cookies-modal">
  <div class="layout full-width justifyContentBetween wide">
    <div class="box dialog bgInfo colorContent paddingLayoutXXS wide">
      <div class="alignItemsStart displayFlex">
        <div class="text">
          <span class="text detail level-2 displayInline">
            {{setTranslationVar "bclink" "<span id=\"cookies-modal-link\" class=\"text detail level-2 link link__underlined bcContent colorContent displayInline\">[{home.cookies.link}]</span>"}}
            {{{translate "homevanilla.cookies.paragraph"}}}
          </span>
        </div>
        <button class="button" aria-label="Cerrar" type="button" id="cookie-modal-close-btn">
          <i class="icon auroraicons close displayBlock" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</div>
