<button id="{{id}}" class="button button--atom bgPrimary paddingRightL paddingLeftL positionRelative wide"
        type="button">
  <div class="touchable touchable layerS positionAbsolute">
    <div class="motion expand ripple bgTouchable pointerNone"
         style="opacity: 0; transition-property: opacity;"></div>
  </div>
  <div
      class="alignItemsCenter displayFlex flexXS flexDirectionRow justifyContentCenter layerS pointerNone positionRelative">
            <span class="text action level-3 colorContent pointerNone upperCase">
              {{{translate text}}}
            </span>
  </div>
  <div class="motion busy bgBase pointerNone positionAbsolute"
       style="width: 0%; transition-property: width;"></div>
</button>
