<aside id="discover-sticky-button-container"
       class="motion expand fixed-cta bgOverlay displayFlex justifyContentCenter layerS positionFixed wide"
       style="opacity: 0; top: initial; bottom: -56px; transition-property: opacity, top, bottom;">
  <button id="sticky-button"
          class="button button--atom desktop-small bgPrimary paddingRightL paddingLeftL positionRelative wide"
          type="button">
    <div class="touchable touchable layerS positionAbsolute desktop-small">
      <div class="motion expand ripple bgTouchable pointerNone" style="opacity: 0; transition-property: opacity;"></div>
    </div>
    <div class="alignItemsCenter displayFlex flexXS flexDirectionRow justifyContentCenter layerS pointerNone
        positionRelative">
      <span class="text action level-3 colorContent pointerNone upperCase">
        {{translate "home.main.cta"}}
      </span>
    </div>
    <div class="motion busy bgBase pointerNone positionAbsolute desktop-small"
         style="width: 0%; transition-property: width;"></div>
  </button>
</aside>
