<div class="layout home-ps-intro__title full-width justifyContentCenter wide">
  <div class="box wide title-container">
    <h2 class="text heading level-2 textAlignCenter">{{{translate text}}}</h2>
  </div>
</div>
